@page "{id:int?}"
@model Proiect.Pages.Categories.IndexModel
@using Proiect.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<p>
    <a asp-page="Create">Adaugă Categorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Categorie
            </th>
            <th>
                Evenimente
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CategoryData.Categories != null)
        {
            foreach (var category in Model.CategoryData.Categories)
            {
                <tr>
                    <td>
                        @category.CategoryName
                    </td>
                    <td>
                        <ul>
                            @foreach (var eventCategory in category.EventCategories)
                            {
                                <li>@eventCategory.Event.Name</li>
                            }
                        </ul>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@category.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@category.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@category.ID">Delete</a>
                    </td>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>